<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.example.DemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.component.service.aidl.service.BinderPoolService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name="com.example.ui.widgets.common.recyclerview.activity.RecyclerViewActivity" />
        <activity android:name="com.example.ui.widgets.common.recyclerview.activity.StaggeredGridLayoutActivity" />
        <activity android:name="com.example.ui.widgets.common.recyclerview.activity.ItemDecorationActivity" />
        <activity android:name="com.example.ui.widgets.custom.gesture.SimpleGestureActivity" />
        <activity android:name="com.example.ui.widgets.custom.customview.CustomViewActivity" />
        <activity android:name="com.example.ui.widgets.common.expandablelistview.ExpandableListViewActivity" />
        <activity android:name="com.example.ui.widgets.custom.RichTextActivity" />
        <activity android:name="com.example.security.permission.PermissionActivity" />
        <activity android:name="com.example.ui.widgets.material.SnackBarActivity" />
        <activity android:name="com.example.ui.widgets.custom.compoundbutton.CompoundButtonActivity" />
        <activity android:name="com.example.ui.widgets.custom.simpleHScrollView.HScrollViewActivity" />
        <activity android:name="com.example.ui.widgets.custom.simpleHScrollView2.HScrollView2Activity" />
        <activity android:name="com.example.ui.widgets.common.listview.ListViewActivity" />

        <service android:name="com.example.task.alarmmanager.PollingService" />

        <receiver android:name="com.example.task.alarmmanager.AlertBroadcastReceiver" />

        <activity android:name="com.example.ui.widgets.common.swiperefresh.SwipeRefreshActivity" />
        <activity android:name="com.example.ui.widgets.common.BackgroundActivity" />
        <activity android:name="com.example.ui.widgets.custom.surfaceview.SurfaceActivity" />
        <activity android:name="com.example.ui.widgets.custom.canvas.CanvasActivity" />
        <activity android:name="com.example.ui.widgets.common.viewpager.ViewPagerActivity" />
        <activity
            android:name="com.example.ui.widgets.common.SurfaceVideoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.example.ui.widgets.common.VideoViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.ui.widgets.custom.animation.AnimationActivity" />

        <service
            android:name="com.example.system.notification.NotificationCollectorService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name="com.example.system.notification.NotificationCollectorMonitorService" />

        <activity android:name="com.example.system.notification.NotificationActivity" />
        <activity android:name="com.example.component.activity.LifeCycleActivity" />
        <activity android:name="com.example.component.ComponentActivity" />

        <service
            android:name="com.example.component.service.LifeCycleService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.example.library.map.MapActivity" />
        <activity android:name="com.example.library.rxjava.RxJavaActivity" />
        <activity android:name="com.example.library.chart.ChartActivity" />
        <activity android:name="com.example.library.qrcode.CaptureActivity" />
        <activity android:name="com.example.library.qrcode.QrCodeActivity" />

        <provider
            android:name="com.example.data.local.provider.MyProvider"
            android:authorities="MyProvider" />

        <service
            android:name="com.example.task.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name="com.example.task.MyIntentService" />

        <activity android:name="com.example.ui.fragment.communicate.ResultFragmentActivity" />
        <activity android:name="com.example.ui.fragment.communicate.StackFragmentActivity" />
        <activity android:name="com.example.component.ServiceActivity"></activity>
    </application>

</manifest>