<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".aidl.service.BinderPoolService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity android:name=".aidl.client.BinderClientActivity" />
        <activity android:name=".recyclerview.activity.RecyclerViewActivity" />
        <activity android:name=".recyclerview.activity.StaggeredGridLayoutActivity" />
        <activity android:name=".recyclerview.activity.ItemDecorationActivity" />
        <activity android:name=".fragment.FragmentActivity" />
        <activity android:name=".gesture.SimpleGestureActivity" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".expandablelistview.ExpandableListViewActivity" />
        <activity android:name=".widget.WidgetActivity" />
        <activity android:name=".rxjava.RxJavaActivity" />
        <activity android:name=".permission.PermissionActivity" />
        <activity android:name=".snackbar.SnackBarActivity" />
        <activity android:name=".compoundbutton.CompoundButtonActivity" />
        <activity android:name=".simpleHScrollView.HScrollViewActivity" />
        <activity android:name=".simpleHScrollView2.HScrollView2Activity" />
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".alarmmanager.AlarmManagerActivity" />

        <service android:name=".alarmmanager.PollingService" />

        <receiver android:name=".alarmmanager.AlertBroadcastReceiver" />

        <activity android:name=".ormlite.OrmLiteActivity"></activity>
    </application>

</manifest>